{% if entries %}
    <div class="text-center" >
        <ul class="pagination pagination-sm text-center">
            {% if entries.has_previous %}
                {% ifnotequal previous_page_number 1 %}

                {% endifnotequal %}
                    <li><a href="?page={{ entries.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><a>&laquo;</a></li>
            {% endif %}

            {% for num in entries.paginator.page_range %}
                {% ifequal num entries.number %}
                    <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if entries.has_next %}
                <li><a href="?page={{ entries.next_page_number }}">&raquo;</a></li>
                {% ifnotequal next_page_number entries.paginator.num_pages %}

                {% endifnotequal %}
            {% else %}
                <li class="disabled"><a>&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}